$theme-colors: (warning: #ff7043, primary: #5092b9) !default;
@import "bootstrap";
@import "font-awesome";
@import "css/datepicker.min";
@import "navbar";
@import "footer";
@import "courses";
@import "examinations";
@import "scores";
@import "noResults";
@import "errors";
body {
    cursor: default;
    color: #444;
    background-color: #1c1c1c;
    [type="button"],
    [type="reset"],
    [type="submit"] {
        -webkit-appearance: initial;
    }
    .content {
        background: #fafafa;
        padding: 95px 0 40px;
    }
}

a.black{
    color: black
}

.alertContainer {
    position: absolute;
    width: 567px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    @media (max-width: 600px) {
        width: auto;
        position: relative;
        margin-left: 15px;
        margin-right: 15px;
    }
    .alert {
        position: absolute;
        width: 600px;
        @media (max-width: 550px) {
            width: 100%;
            position: relative;
            margin-bottom: 0px;
        }
    }
}

.container.body {
    padding-top: 65px;
    padding-bottom: 20px;
    @media (max-width: 600px) {
        padding-top: 20px;
        padding-bottom: 0px;
    }
}

form {
    input[type="checkbox"] {
        display: inherit;
        width: inherit;
    }
    .field_with_errors {
        input,
        select {
            border-color: #dc3545;
        }
    }
}

button,
a,
input[type="submit"] {
    cursor: pointer;
}

.dropdown-menu {
    left: inherit;
    right: 10px;
    top: 80%;
}

a,
a:active,
a:focus,
a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    outline: 0;
    &.btn {
        color: white !important;
    }
    &.btn-default,
    &.btn-default:active,
    &.btn-default:focus,
    &.btn-default:hover {
        background-color: #ddddde;
        color: #444;
        border: 1px solid #dddddd;
    }
    &.btn-outline-primary {
        color: #007bff !important;
    }
    &.btn-outline-primary:active,
    &.btn-outline-primary:focus,
    &.btn-outline-primary:hover {
        color: white !important;
    }
}

.table-secondary,
.table-secondary>th,
.table-secondary>td {
    background-color: #fafafa;
}

.table {
    th {
        vertical-align: middle !important;
    }
}

a,
button {
    &.disabled {
        cursor: not-allowed !important;
    }
}