/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 $theme-colors: (
    warning: #FF7043,
    success: #5092B9,
  ) !default;


@import "bootstrap";
@import "font-awesome";
@import "navbar";
@import "courses";

body {
    cursor: default;
    color: #444;
    background-color: #1c1c1c;
    [type="button"],
    [type="reset"],
    [type="submit"] {
        -webkit-appearance: initial;
    }
    .content {
        background: #fafafa;
        padding: 110px 0 70px;
    }
}

.alertContainer {
    position: absolute;
    width: 567px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    @media (max-width: 600px) {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: -65px;
    }
    .alert {
        position: absolute;
        width: 550px;
        @media(max-width: 550px) {
            width: 100%
        }
    }
}

.container.body {
    padding-top: 65px;
    padding-bottom: 20px;
}

form {
    input[type="checkbox"] {
        display: inherit;
        width: inherit;
    }
    .field_with_errors {
        input,
        select {
            border-color: #dc3545;
        }
    }
}


button,
a, input[type="submit"] {
    cursor: pointer;
}

a,
a:active,
a:focus,
a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, .5);
    outline: 0;

    &.btn {
        color: white!important;
    }

    &.btn-default, &.btn-default:active, &.btn-default:focus, &.btn-default:hover{
        background-color: #ddddde;
        color: #444;
        border: 1px solid #dddddd;
    }
    &.btn-outline-primary{
        color: #007bff!important;
    }
    
    &.btn-outline-primary:active,
    &.btn-outline-primary:focus,
    &.btn-outline-primary:hover {
        color: white!important;
    }
}

