.errors {
    padding: 70px 0;
    text-align: center;
    @media (max-width: 700px) {
        padding: 20px 0;
    }
    h1 {
        font-size: 250px !important;
        line-height: 250px !important;
        font-family: "Roboto", "Open Sans", sans-serif;
        font-weight: 700;
        margin: 0;
        @media (max-width: 700px) {
            font-size: 170px !important;
            line-height: 170px !important;
            font-weight: 500;
        }
    }
    p {
        text-transform: uppercase;
        font-size: 70px;
        font-family: "Roboto", "Open Sans", sans-serif;
        font-weight: 200;
        @media (max-width: 700px) {
            font-size: 35px !important;
            font-weight: 200 !important;
        }
    }
}