// Place all the styles related to the examinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.datepicker-dropdown{
    width: 200px;
    padding: 5px;
}

input[type="text"][readonly] {
    background-color: white;
 }