.hide {
    display: none !important;
}

.table-input {
    text-align: center;
    &:disabled {
        border: none;
        background-color: transparent;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}