// Place all the styles related to the scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hide {
    display: none
}

.table-input {
    text-align: center;
    &:disabled {
        border: none;
        background-color: transparent;
    }
}