<div class="card-form <% if xl %> xl <% end %>">
  <div class="card">
    <div class="card-body">
      <h5 class="bold"><%= t(title) %></h5> 
      <hr>
        <%= yield :form %>
    </div>
  </div>
</div>