<nav class="navbar fixed-top navbar-expand-lg navbar-light">
 <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mt-2 mt-md-0 ml-auto">
        <li class="nav-item dropdown ml-auto">
          <%= render "layouts/navigation_links" %>
          <% if user_signed_in? %>
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.username %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to destroy_user_session_path,  method: :delete, class: "dropdown-item" do %>
                  <i class="fa fa-sign-out" aria-hidden="true"></i> Log Out
                <% end %>
              </div>
            <% else %>
                <%= link_to "Inicio", "/", class: "navbar-brand" %>
            <% end %>
        </li>        
      </ul>
  </div>
</nav>