    <div class="no-results">
        <div class="content">
            <h3><%= t title %></h3>
            <i class="fa fa-<%= icon %>" aria-hidden="true"></i>
            <br>
            <%= link_to t(text), path, class: "btn btn-outline-primary" %>
        </div>
    </div>